@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
    --color-dark: hsl(252, 30%, 17%); 
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 15%, 65%);
    --coloro-black: hsl(252, 30%, 10%);
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: var(--color-dark);
    background
}